<!-- 
* @PageName      : DiscountButtonMockup
* @Description   : This is the page for checking discount Button.
-->
<apex:page standardController="Opportunity" extensions="DiscountButtonMockupController">
	<style>
.activeTab {
	background-color: #236FBD;
	color: white;
	background-image: none
}

.inactiveTab {
	background-color: lightgrey;
	color: black;
	background-image: none
}
</style>

	<apex:form >
		<apex:pageBlock title="Discount calculation" mode="edit">

			<apex:pageBlockButtons >
				<apex:commandButton action="{!save}" value="Apply Discount"
					rerender="error" />
				<apex:commandButton action="{!cancel}" value="Cancel" />
			</apex:pageBlockButtons>

			<apex:pageBlockSection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Discount % to Apply" for="theObj" />
					<apex:inputText value="{!Opportunity.Discount_Value__c}" id="theObj"/>
				</apex:pageBlockSectionItem>

				<form action="">
					<input type="button" value="Recalculate" />
				</form>
			</apex:pageBlockSection>
			<apex:pageblockTable value="{!shoppingCart}" var="s">

				<apex:column headerValue="Product Name"
					value="{!s.PriceBookEntry.Product2.Name}" />
				<apex:column headerValue="List Price" value="{!s.ListPrice}" />
				<apex:column headerValue="Original Sales Price"
					value="{!s.UnitPrice}" />
				<apex:column headerValue="sales price After Discount"
					value="{!s.Discount}" />
				<apex:column headerValue="Quantity" value="{!s.Quantity}" />
				<apex:column headerValue="Total Amount" value="{!s.TotalPrice}" />

			</apex:pageblockTable>

			<apex:pageBlockSection >
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="Grand Total" for="objName" />
					<apex:inputText value="{!Opportunity.Discount_Value__c}" id="theObj"/>
				</apex:pageBlockSectionItem>

				<form action="">
					<input type="button" value="Recalculate" />
				</form>
			</apex:pageBlockSection>

		</apex:pageBlock>
	</apex:form>
</apex:page>