<apex:page controller="FetchRecordsFromWebserviceController">
	
 	<apex:includeScript value="{!URLFOR($Resource.jqueryUi18, 'js/jquery-1.7.1.min.js')}" />
	<apex:includeScript value="{!URLFOR($Resource.jquery1, '/js/jquery-1.4.2.min.js')}"  />
	
	<apex:includeScript value="{!URLFOR($Resource.jqueryUi18, 'js/jquery-ui-1.8.18.custom.min.js')}" />

	<apex:stylesheet value="{!URLFOR($Resource.jqueryUi18,'css/smoothness/jquery-ui-1.8.18.custom.css')}" />


	

<script type="text/javascript">
	
		 function call(){
		  	alert('inside function');
			$('#window').dialog({
				
        	}).dialog( "open" );
		}
		

    
</script>
	<apex:form >
	 <apex:selectList id="AppointmentStatus" multiselect="false"
		value="{!SelectObject}" size="1" title="values" onchange="call();"> 
		<apex:selectOption itemLabel="--None--" itemValue="--None--"/>
		<apex:selectOption itemLabel="FirstValue" itemValue="FirstValue"/>
		<apex:selectOption itemLabel="SecondValue" itemValue="SecondValue"/>
	</apex:selectList>
	
<!-- 	<apex:actionFunction name="ObjectFileds" id="showPopUp"/>     -->
	 
	 
	 <div id="window" caption="Login" style="display:none;">
   		<apex:outputLabel value="UserName : " for="userName"/>
		<apex:inputText required="true" id="userName" value="{!userName}" /> 
		<br/>
	
		<apex:outputLabel value="Password : "  for="pwd"/>
		<apex:inputsecret id="pwd"  value="{!pwd}"/>
		<br/>
	<apex:commandButton id="loginIn" value="Login" action="{!FieldsValuesFromObject}"/> 
	<!-- 	<apex:actionStatus startText="Requesting..." stopText="" id="waitStatus"/> -->
	<hr/>
    </div>
    
    </apex:form>
</apex:page>