<apex:page standardController="Product2"  extensions="NewProductControllerClass" >
<apex:form >
<apex:pageBlock title="Product Detail" mode="edit">

<apex:pageBlockButtons location="top" >
<apex:commandButton action="{!save}" value="Save" rerender="error"/>
<apex:commandButton action="{!cancel}" value="Cancel"/>
</apex:pageBlockButtons>

<apex:pageBlockSection columns="1" id="table">
<apex:repeat value="{!products1}" var="p1">
<apex:inputField value="{!p1.Name}"/>
<apex:inputField value="{!p1.ProductCode}"/>
<apex:inputField value="{!p1.IsActive}"/>
<apex:inputField value="{!p1.Description}"/>
</apex:repeat>
</apex:pageBlockSection>

<div style="text-align:right;margin-right:30px;font-weight:bold;">
<apex:commandLink value="Remove Row" action="{!removeRow}" rerender="table,error" immediate="true" />
<apex:commandLink value="Add Row" action="{!addRow}" rerender="table,error"/>
</div>


</apex:PageBlock>


            
</apex:form>
</apex:page>