<apex:page standardController="Email_Information__c" Extensions="SendEmailController" title="sending Emails" >
<apex:form >
<apex:outputText value="{!emailSent}"/>
<apex:inputText value="{!SendTo}"/>
<apex:commandButton action="{!sendEmail}" value="Send Email" id="theButton"/>     
</apex:form>
</apex:page>