<!-- 
* @PageName      : SuccessFileUpload
* @Description   : This is the page for creating Attachment__c records and redirecting it to Object detail page.
-->
<apex:page controller="SuccessFileUploadController" action="{!actionOnLoad}">
	<title>Redirecting to Object detail page</title>
</apex:page>