<apex:page StandardController="Course__c"
	extensions="TB_CreateStudentToCourseController">
	<apex:form >
	<apex:pageMessages />
		<script>
			function checkAll(cb) {
				var inputElem = document.getElementsByTagName("input");
				alert(inputElem.length);
				for ( var i = 0; i < inputElem.length; i++) {
					if (inputElem[i].id.indexOf("checkedone") != -1)
						inputElem[i].checked = cb.checked;
				}
			}
		</script> 

		<apex:actionRegion renderRegionOnly="false" immediate="true">
			<apex:commandButton action="{!doSearch}" value="Go" id="theButton" />
			<apex:inputText value="{!searchText}" id="searchText"
				style="width:300px" />
                   &nbsp;&nbsp;
                 
               			 <i> <!-- actionStatus component makes it easy to let the user know when a search is underway -->
				<apex:actionStatus id="searchStatus" startText="searching..."
					stopText=" " /> </i>
		</apex:actionRegion>

		<apex:pageBlock title="Page Size">
			<apex:pageBlockButtons >
				<apex:commandButton action="{!onSave}" value="Done" />
				<apex:commandButton action="{!onReset}" value="Reset" />
				<apex:commandButton action="{!onCancel}" value="Cancel"
					immediate="true" />
			</apex:pageBlockButtons>
			
			<apex:pageBlockSection columns="1">
				<apex:selectList size="1" value="{!pageSize}">
					<apex:selectOption itemValue="10" itemLabel="10" />
					<apex:selectOption itemValue="50" itemLabel="50" />
					<apex:selectOption itemValue="100" itemLabel="100" />
					<apex:actionSupport event="onchange"
						action="{!getInitialAccountSet}" rerender="students" />
				</apex:selectList>
			</apex:pageBlockSection>

			<apex:pageBlocktable value="{!studentList}" var="stuLst"
				title="Students Results" id="students">
				<apex:column title="Select">
					<apex:inputCheckbox value="{!stuLst.isSelected}">
						</apex:inputcheckbox>
				</apex:column>
				<apex:column value="{!stuLst.stu.Name}" title="Student Name" />
			</apex:pageBlocktable>
			
			<apex:outputPanel style="text-align:center;horizontal-align:center;">
			
			<apex:commandButton rendered="{!NOT(PageNumber == 0)}" action="{!previous}" value="previous"
			rerender="students"></apex:commandButton>
			
			<apex:commandButton rendered="{!NOT(PageNumber == noOfPages-1)}" action="{!next}" value="Next"
			rerender="students"></apex:commandButton>
			</apex:outputPanel>
			

	  </apex:pageBlock>  
	</apex:form>
</apex:page>