<!-- 
* @PageName      : UploadFileAmazon
* @Description   : This page is used to upload file to Amazon S3 bucket.
-->
<apex:page standardController="Attachment__c" recordSetVar="attachments"
	extensions="FileUploadToAmazonController" action="{!actionOnLoad}"
	showHeader="false" sideBar="false" id="Test">

	<title>File upload to Amazon</title>

	<!--Start : Form with Post method called on click of submit button -->

	<form id="formId" action="https://s3.amazonaws.com/{!strBucketName}"
		method="post" enctype="multipart/form-data">

		<!--Start : Panel to rerender once file is selected -->
		<apex:outputPanel id="mainPanel">
			<input type="hidden" name="key" value="{!strFileName}" />
			<input type="hidden" name="AWSAccessKeyId" value="{!key}" /> 
			<input type="hidden" name="policy" id="filepolicy" value="{!policy}" />
			<input type="hidden" name="signature" value="{!signedPolicy}" />
			<input type="hidden" name="acl" value="private" />
			<input type="hidden" name="Content-Type"
				value="{!strfileContentType}" />
			<input type="hidden" name="success_action_redirect"
				value="{!strBaseUrl}/apex/SuccessFileUpload?id={!strId}&type={!strfileContentType}&FileName={!strFileName}&attachId={!strAttachmentId}&site={!strSite}" />

		</apex:outputPanel>
		<!--End : Panel to rerender once file is selected -->

		<!--Start : PageBlock which contains input file and submit button -->
		<apex:pageBlock id="pbUpload">
			<apex:pageBlockButtons location="bottom">

				<input class="submit" id="buttonId" type="button"
					value="{!$Label.FileUploadToAmazon_SendtoAmazon}"
					disabled="disabled" onClick="insertFile();" />

				<input class="" style="display: none;" id="submit" type="submit"
					value="{!$Label.FileUploadToAmazon_SendtoAmazon}"
					onclick="document.getElementById('ManageMembersViewport_loading').style.display='block';document.getElementById('salesforceSource_blurybackground').style.display='block';" />
				<div id="salesforceSource_blurybackground"
					style="display: none; position: absolute; left: 220px; top: 1px; width: 85%; height: 11%; text-align: center; vertical-align: middle; background-color: #dcdcdc; opacity: 0.7; filter: alpha(opacity =                       60)"></div>
				<div id="ManageMembersViewport_loading" class="waitingSearchDiv"
					style="width: 100%; height: 15%; display: none;">
					<div style="width: 144px; vertical-align: middle;"
						class="waitingHolder">
						<table align="center" valign="top"
							style="width: 100%; height: 30%">
							<tr align="center" valign="top" style="width: 100%; height: 30%">
								<td valign="top"><img src="/img/loading.gif" /><span style="color:blue;font-weight:bold"
									class="waitingDescription"><b>{!$Label.FileUploadToAmazon_Uploading_Attachment}</b>
								</span>
								</td>
							</tr>
						</table>
					</div>
				</div>

			</apex:pageBlockButtons>
			<apex:pageBlockSection title="{!$Label.FileUploadToAmazon_Header}"
				collapsible="false">
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.FileUploadToAmazon_FileAttachmentFieldLabel}" />
					<input type="file" size="50" name="file"
						onchange="fetchContentType(this);" />
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
		<!-- End : PageBlock which contains input file and submit button  -->
	</form>
	<!--End : Form with Post method called on click of submit button -->

	<apex:form >
		<!--Start : Apex Form -->
		<apex:includeScript value="{!URLFOR($Resource.AmazonCss, 'Mime/MimeType.js')}" />
		<script>
			//Method called once file is selected from page. It determines the content type of the file.
			function fetchContentType(obj) {
				//alert(obj.files[0].size);

				var fileName;
				contentTyp = obj.value;
				// splitting content type and name of file
				if (contentTyp.lastIndexOf('.') != -1) {
					content = contentTyp.substring(
							contentTyp.lastIndexOf('.') + 1, contentTyp.length);
					fileName = contentTyp.substring(0, contentTyp
							.lastIndexOf('.'));
					if (fileName.indexOf("fakepath") != -1)
						fileName = fileName.substring(fileName
								.indexOf("fakepath") + 9, fileName.length);
				}
				for ( var i = 0; i < mimeList.length; i++) {
					if (mimeList[i].extension == content) {
						content = mimeList[i].contentType;
						break;
					}
				}

				document.getElementById('{!$Component.hiddenId}').value = fileName;
				//calling apex actionfunction and rerendering the form parameters 
				callUploadFile(content);
			}

			// Submit the selected file to Amazon.
			function callSubmit() {
				document.getElementById('submit').click();

			}
		</script>

		<apex:inputHidden Id="hiddenId" value="{!strFileName}" />

		<apex:actionFunction name="callUploadFile" rerender="mainPanel"
			action="{!dummyFunction}"
			oncomplete="document.getElementById('buttonId').disabled='';">
			<apex:param value="" assignTo="{!strfileContentType}" name="content" />
		</apex:actionFunction>
		<apex:actionFunction name="insertFile" rerender="mainPanel,test"
			action="{!submitAttachment}" oncomplete="callSubmit();" />
			
	</apex:form>
	<!--End : Apex Form -->
</apex:page>